In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('imdb_top_1000.csv')
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [3]:
df.info()
# Some data types are not right...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [4]:
# Release year should be an int
df['Released_Year'].unique()
# 'PG'??

array(['1994', '1972', '2008', '1974', '1957', '2003', '1993', '2010',
       '1999', '2001', '1966', '2002', '1990', '1980', '1975', '2020',
       '2019', '2014', '1998', '1997', '1995', '1991', '1977', '1962',
       '1954', '1946', '2011', '2006', '2000', '1988', '1985', '1968',
       '1960', '1942', '1936', '1931', '2018', '2017', '2016', '2012',
       '2009', '2007', '1984', '1981', '1979', '1971', '1963', '1964',
       '1950', '1940', '2013', '2005', '2004', '1992', '1987', '1986',
       '1983', '1976', '1973', '1965', '1959', '1958', '1952', '1948',
       '1944', '1941', '1927', '1921', '2015', '1996', '1989', '1978',
       '1961', '1955', '1953', '1925', '1924', '1982', '1967', '1951',
       '1949', '1939', '1937', '1934', '1928', '1926', '1920', '1970',
       '1969', '1956', '1947', '1945', '1930', '1938', '1935', '1933',
       '1932', '1922', '1943', 'PG'], dtype=object)

In [5]:
df[df['Released_Year']=='PG']

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
966,https://m.media-amazon.com/images/M/MV5BNjEzYj...,Apollo 13,PG,U,140 min,"Adventure, Drama, History",7.6,NASA must devise a strategy to return Apollo 1...,77.0,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise,269197,"173,837,933"

In [6]:
# Apollo 13 was released in 1995 (according to IMDB).
df.at[966,'Released_Year']='1995'
df['Released_Year']=df['Released_Year'].astype('int64')

In [7]:
# Ideally, runtime should be an integer aswell.
df['Runtime'].head()

0    142 min
1    175 min
2    152 min
3    202 min
4     96 min
Name: Runtime, dtype: object

In [8]:
# We have to remove the last 4 characters from the strings and then change the data type.
df['Runtime']=df['Runtime'].str.replace(' min','')
df['Runtime_minutes']=df['Runtime'].astype('int64')
df=df.drop('Runtime',axis=1)

In [9]:
# Gross (money earned) should also be an integer.
df['Gross'].head()

0     28,341,469
1    134,966,411
2    534,858,444
3     57,300,000
4      4,360,000
Name: Gross, dtype: object

In [10]:
# Commas have to be removed before the data type can be changed.
# However, Gross cannot be an integer because it contains null rows. It has to be a float instead.
df['Gross']=df['Gross'].str.replace(',','')
df['Gross']=df['Gross'].astype('float64')

In [11]:
# Genre column is nested, with maximum of 3 genres per movie
df['Genre'].unique()[:5]

array(['Drama', 'Crime, Drama', 'Action, Crime, Drama',
       'Action, Adventure, Drama', 'Biography, Drama, History'],
      dtype=object)

In [12]:
# Fixing the column by splitting the string inside into 3 columns
df[['Genre1','Genre2','Genre3']]=df['Genre'].str.split(', ',n=2,expand=True)
df=df.drop('Genre',axis=1)

In [13]:
df.info()
# Data and column types seem to be making sense now.
# The dataset is ready to be inserted into the database.
df.to_csv('movies.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Poster_Link      1000 non-null   object
 1   Series_Title     1000 non-null   object
 2   Released_Year    1000 non-null   int64
 3   Certificate      899 non-null    object
 4   IMDB_Rating      1000 non-null   float64
 5   Overview         1000 non-null   object
 6   Meta_score       843 non-null    float64
 7   Director         1000 non-null   object
 8   Star1            1000 non-null   object
 9   Star2            1000 non-null   object
 10  Star3            1000 non-null   object
 11  Star4            1000 non-null   object
 12  No_of_Votes      1000 non-null   int64
 13  Gross            831 non-null    float64
 14  Runtime_minutes  1000 non-null   int64
 15  Genre1           1000 non-null   object
 16  Genre2           895 non-null    object
 17  Genre3           646 non-null    object
dtypes: float64(3), int64(3), object(12)
memory usage: 140.8+ KB